.wrapper_nav {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .nav {
        width: 95%;
        display: flex;
        align-items: start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
        .products_type {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 20px;
            .type_filters {
                .arrow_back {
                    position: absolute;
                    top: -40px;
                    left: -20px;
                    width: 40px;
                    height: 40px;
                    color: white;
                }
                .filter_column {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .filter_item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        svg {
                            position: relative;
                            top: 0px;
                            left: 0px;
                        }
                        h4 {
                            text-transform: capitalize;
                            font-size: 26px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
            }
            h3 {
                text-transform: capitalize;
                font-size: 26px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        display: flex;
    }
    @media screen and (max-width: 520px) {
        padding: 10px;
        .nav {
            .products_type {
                .type_filters {
                    .arrow_back {
                        position: absolute;
                        top: -30px;
                        left: -10px;
                    }
                }
            }
        }
    }
}