$primary-color: #E8AA31;
$primary-active-color: #d38d00;
$primary-bg-color: #e8ab3146;
$secondary-color: rgba(0,0,0, 0.4);
$black-color: #141414;
$white-color: #ffffff;
$success-color: #24AD53;
$error-color: #E7401B;