@import '/src/app/colors.scss';

.product_article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
    .container {
      width: 95%;
      max-width: 1590px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 30px;
      .content {
        width: 50%;
        height: 100%;
        padding: 30px;
        box-shadow: 0px 4px 20px 0px #0000001A;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        .row {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          .title {
            width: 50%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 30px;
            row-gap: 10px;
            .status {
              width: 100%;
            }
          }
          .product_amount_switcher {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            button {
              border-radius: 0px;
              width: 50px;
              height: 50px;
              padding: 0px;
              font-size: 18px;
            }
            .product_amount {
              width: 50px;
              height: 50px;
              background-color: #D2D2D212;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .interactions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            button {
              height: 50px;
              font-size: 18px
            }
            .add_to_cart_button {
              svg {
                color: white;
              }
              &:hover {
                svg {
                  color: $primary-color;
                }
              }
            }
            .go_to_cart_button {
              svg {
                color: $primary-color;
              }
              &:hover {
                svg {
                  color: white;
                }
              }
            }
          }
          h3 {
            text-transform: capitalize;
          }
        }
        .column {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 20px;
          .info_row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
          }
          .attribute {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-transform: capitalize;
          }
        }
      }
    }
}