@import '/src/app/colors.scss';

div.react-tel-select-container {
  width: 180px;
  height: 30px;
  border: none;
  outline: none;
  z-index: 9;
  div.react-select__control {
    height: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  }
  
  div.react-select__control:hover {
    border: none;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    z-index: 9;
  }
    
  div.react-select__value-container {
    height: 30px;
    padding: 0px;
  }
    
  .react-select__indicators {
    height: 30px;
  }
    
  div.react-select__indicator {
    box-sizing: border-box;
    padding: 0px;
    height: 30px;
  }
    
  .react-select__indicator > svg {
    height: 30px;
  }
    
  .react-select__indicator-separator {
    display: none;
  }

  div.react-select__control .react-select__menu {
    z-index: 100;
  }

  div.react-select__option {
    &:hover {
      background-color: $primary-bg-color;
    }
  }

  div.react-select__option--is-selected {
    background-color: $primary-color;
  }
}

@media screen and (max-width: 1200px) {
  div.react-tel-select-container {
    div.react-select__control {
      div.react-select__single-value {
        color: $white-color
      }
    }
    div.react-select__menu {
      color: $black-color;
    }
  }
}

@media screen and (max-width: 520px) {
  div.react-tel-select-container {
    width: 100%;
    max-width: 400px;
    div.react-select__control {
      width: 100%;
      max-width: 400px;
    }
  }
}